@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    background: rgba(24, 24, 24, 1);
    @apply text-white font-sans antialiased;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-primary-blue via-primary-pink to-primary-yellow bg-clip-text text-transparent;
  }
}
